dist: xenial
sudo: required

language: generic

services:
  - docker

stages:
  - lint
  - test

jobs:
  include:
    - stage: lint
      script: shellcheck install.sh

    - stage: test
      install:
        - ./install.sh
      before_script: chmod +x tests/run-tests.sh
      script:
        - ./tests/run-tests.sh
